.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  width: 20%;
  padding: 20px 20px 20px 20px;
  margin-top: 15%;
  margin-left: 40%;
  border:#E34234 solid 4px;
  border-radius: 20px;
}

input[type=submit] {
  background-color:#FF7F7F;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  margin: 7px 37%;
  cursor: pointer;
  border-radius: 12px;
}

label{
  margin-left: 10%;
}